In [1]:
studName = 'Ngozi Idehen'

In [2]:
studName

'Ngozi Idehen'

In [3]:
for char in studName:
    idx = studName.index(char)
    print(f'the character {char} is in index position {idx}')

the character N is in index position 0
the character g is in index position 1
the character o is in index position 2
the character z is in index position 3
the character i is in index position 4
the character   is in index position 5
the character I is in index position 6
the character d is in index position 7
the character e is in index position 8
the character h is in index position 9
the character e is in index position 8
the character n is in index position 11

In [4]:
#Slicing a sub-string from a string
'''
we need the name of the string variable followed by square bracket
Inside the square bracket we put the index number of the first character and the last character plus 1

'''
print(studName[0:5])

Ngozi

In [5]:
studRef = '012468743_James_Doe'

In [6]:
print(studRef[0:9])

012468743

In [7]:
print(studRef[10:15])

James

In [8]:
countryName = 'Zambia'

In [9]:
text1 = 'I love my car so much, its the best car in towm!'

In [10]:
for char in text1:
    idx = text1.index(char)
    print(f'the character {char} is in index position {idx}')

the character I is in index position 0
the character   is in index position 1
the character l is in index position 2
the character o is in index position 3
the character v is in index position 4
the character e is in index position 5
the character   is in index position 1
the character m is in index position 7
the character y is in index position 8
the character   is in index position 1
the character c is in index position 10
the character a is in index position 11
the character r is in index position 12
the character   is in index position 1
the character s is in index position 14
the character o is in index position 3
the character   is in index position 1
the character m is in index position 7
the character u is in index position 18
the character c is in index position 10
the character h is in index position 20
the character , is in index position 21
the character   is in index position 1
the character i is in index position 23
the character t is in index position 24
the character s is in index position 14
the character   is in index position 1
the character t is in index position 24
the character h is in index position 20
the character e is in index position 5
the character   is in index position 1
the character b is in index position 31
the character e is in index position 5
the character s is in index position 14
the character t is in index position 24
the character   is in index position 1
the character c is in index position 10
the character a is in index position 11
the character r is in index position 12
the character   is in index position 1
the character i is in index position 23
the character n is in index position 41
the character   is in index position 1
the character t is in index position 24
the character o is in index position 3
the character w is in index position 45
the character m is in index position 7
the character ! is in index position 47

In [11]:
name = 'Adeyinka'

In [12]:
print(name[3])

y

In [13]:
name[3]

'y'

In [14]:
name[5]

'n'

In [15]:
name[7]

'a'

In [16]:
name.index('k')

6

In [17]:
text1.index('car')

10

In [18]:
# Detecting Vulgar Words
vWords = ['stupid', 'mad', 'crazy', 'fool', 'nigga', 'senile']

In [19]:
message = '''
is simply dummy text of the printing and mad typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1950's
when an unknown printer crazy took a gallery of type and scrambled it to make a type specimen book.
It has survived not only five centuries, but also the leap into the electronic typesetting,
remaining nigga essentially unchanged. It was fool popularised in the 1960's with the senile release of Letraset sheets containing
Lorem Ipsum passages, and more recently with desktop publishing software like Aldus Pagemaker including versions
of Lorem Ipsum.
'''

In [20]:
# we can check the length of any string using the len() function
len(message)

598

In [21]:
for vWord in vWords:
    if vWord in message:
        idx = message.index(vWord)
        print(f'{vWord} is found in index position {idx} ')

mad is found in index position 42
crazy is found in index position 170
fool is found in index position 384
nigga is found in index position 348
senile is found in index position 424

In [22]:
strName = 'Chukwu'

In [23]:
strName.index('u')

2

In [24]:
# searching for character u index position in the strName variable called chukwu
counter = 0
searchChar = 'u'
for char in strName:
    if char == 'u':
        print(f'{searchChar} found in index position {counter}')
    counter = counter +1

u found in index position 2
u found in index position 5

In [25]:
# Reverse indexing in strings
# It is possible to index strings starting from the last character
# The last character is always at index position -1

strname2 = 'William Adeniran'

In [26]:
strname2[len(strname2)-1]

'n'

In [27]:
len(strname2)-1

15

In [28]:
strname2[-1]

'n'

In [29]:
strname2[-2]

'a'

In [30]:
# Every character in a string has a forward and a reverse index position
print(strname2[-2])
print(strname2[14])

a
a

In [31]:
strname2 = 'William Adeniran'

# extract 'Adeniran'

strname2[-8: ]

'Adeniran'

In [32]:
'''
If you are extracting a substring that begins with the first character in the string,
you do not need to specify the starting index position
'''

name3 = 'Olalere Omidire'
# extract Olalere

print(name3[:7])

Olalere

In [33]:
'''
If you are extracting a substring that ends with the last character in the string,
you do not need to specify the ending index position
'''

name3 = 'Olalere Omidire'
# extract Omidire

print(name3[8:])

Omidire

In [34]:
message = '''
is simply dummy text of the printing and mad typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1950's
when an unknown printer crazy took a gallery of type and scrambled it to make a type specimen book.
It has survived not only five centuries, but also the leap into the electronic typesetting,
remaining nigga essentially unchanged. It was fool popularised in the 1960's with the senile release of Letraset sheets containing
Lorem Ipsum passages, and more recently with desktop publishing software like Aldus Pagemaker including versions
of Lorem Ipsum.
'''

len(message)

598

In [35]:
myMessage = 'Hello, welcome to my city. You will love it here'

In [36]:
myMessage.split()

['Hello,', 'welcome', 'to', 'my', 'city.', 'You', 'will', 'love', 'it', 'here']

In [37]:
print(len(myMessage.split()))

10

In [38]:
# number of words in message, and then it's assigned to a varible called countWords

countWords = message.split()

In [39]:
countWords

['is',
 'simply',
 'dummy',
 'text',
 'of',
 'the',
 'printing',
 'and',
 'mad',
 'typesetting',
 'industry.',
 'Lorem',
 'Ipsum',
 'has',
 'been',
 'the',
 "industry's",
 'standard',
 'dummy',
 'text',
 'ever',
 'since',
 'the',
 "1950's",
 'when',
 'an',
 'unknown',
 'printer',
 'crazy',
 'took',
 'a',
 'gallery',
 'of',
 'type',
 'and',
 'scrambled',
 'it',
 'to',
 'make',
 'a',
 'type',
 'specimen',
 'book.',
 'It',
 'has',
 'survived',
 'not',
 'only',
 'five',
 'centuries,',
 'but',
 'also',
 'the',
 'leap',
 'into',
 'the',
 'electronic',
 'typesetting,',
 'remaining',
 'nigga',
 'essentially',
 'unchanged.',
 'It',
 'was',
 'fool',
 'popularised',
 'in',
 'the',
 "1960's",
 'with',
 'the',
 'senile',
 'release',
 'of',
 'Letraset',
 'sheets',
 'containing',
 'Lorem',
 'Ipsum',
 'passages,',
 'and',
 'more',
 'recently',
 'with',
 'desktop',
 'publishing',
 'software',
 'like',
 'Aldus',
 'Pagemaker',
 'including',
 'versions',
 'of',
 'Lorem',
 'Ipsum.']

In [40]:
len(countWords)

95

In [41]:
studName6 = 'Oladimeji_Alabi_Savings Account_053023452'
studName6.split('_')

['Oladimeji', 'Alabi', 'Savings Account', '053023452']

In [42]:
studNameSplit = studName6.split('_')

In [43]:
studNameSplit

['Oladimeji', 'Alabi', 'Savings Account', '053023452']

In [44]:
# multiple assignments of variables
# python allows us to declare multiple varibles and assign them all values in a single line

In [45]:
x, y, z = 34, 'james', 'agatha'

In [46]:
z

'agatha'

In [47]:
y

'james'

In [48]:
x

34

In [49]:
y

'james'

In [50]:
# splitting strings by a common operator

In [51]:
studName6 = 'Oladimeji_Alabi_Savings Account_053023452' # common separator is '_'
studName6.split('_') # we split by '_ to get the individual words or items in the string'

['Oladimeji', 'Alabi', 'Savings Account', '053023452']

In [52]:
firstName, lastName, accountType, accountNumber = studName6.split('_')

In [53]:
firstName

'Oladimeji'

In [54]:
lastName

'Alabi'

In [55]:
accountType

'Savings Account'

In [56]:
accountNumber

'053023452'

In [57]:
# For Loops and If Statements

In [58]:
# SYNTAX
for tempVarible in variableName:
    do something here

SyntaxError: invalid syntax (1280437445.py, line 3)

In [ ]:
strName7 = 'Elizabeth'

for char in strName7:
    print(char)

E
l
i
z
a
b
e
t
h

In [ ]:
strName7 = 'Elizabeth'
counter = 0
for char in strName7:
    print(f'this is run {counter}')
    print('going to grab a character in the string')
    print(f'grabbed the character {char} located at index position {counter}')
    print(f'assigning the grabbed {char} to temporary varible char')
    print(char)
    print('done with this character, going back to grab the next one')

    print('############################################')

    counter+=1

this is run 0
going to grab a character in the string
grabbed the character E located at index position 0
assigning the grabbed {char} to temporary varible char
E
done with this character, going back to grab the next one
############################################
this is run 1
going to grab a character in the string
grabbed the character l located at index position 1
assigning the grabbed {char} to temporary varible char
l
done with this character, going back to grab the next one
############################################
this is run 2
going to grab a character in the string
grabbed the character i located at index position 2
assigning the grabbed {char} to temporary varible char
i
done with this character, going back to grab the next one
############################################
this is run 3
going to grab a character in the string
grabbed the character z located at index position 3
assigning the grabbed {char} to temporary varible char
z
done with this character, going back to grab the next one
############################################
this is run 4
going to grab a character in the string
grabbed the character a located at index position 4
assigning the grabbed {char} to temporary varible char
a
done with this character, going back to grab the next one
############################################
this is run 5
going to grab a character in the string
grabbed the character b located at index position 5
assigning the grabbed {char} to temporary varible char
b
done with this character, going back to grab the next one
############################################
this is run 6
going to grab a character in the string
grabbed the character e located at index position 6
assigning the grabbed {char} to temporary varible char
e
done with this character, going back to grab the next one
############################################
this is run 7
going to grab a character in the string
grabbed the character t located at index position 7
assigning the grabbed {char} to temporary varible char
t
done with this character, going back to grab the next one
############################################
this is run 8
going to grab a character in the string
grabbed the character h located at index position 8
assigning the grabbed {char} to temporary varible char
h
done with this character, going back to grab the next one
############################################

In [ ]:
strName7 = 'Elizabeth'

for char in strName7:
    idx = strName7.index(char)
    print(f'this is run {idx}')
    print('going to grab a character in the string')
    print(f'grabbed the character {char} located at index position {idx}')
    print(f'assigning the grabbed {char} to temporary varible char')
    print(char)
    print('done with this character, going back to grab the next one')

    print('############################################')

this is run 0
going to grab a character in the string
grabbed the character E located at index position 0
assigning the grabbed E to temporary varible char
E
done with this character, going back to grab the next one
############################################
this is run 1
going to grab a character in the string
grabbed the character l located at index position 1
assigning the grabbed l to temporary varible char
l
done with this character, going back to grab the next one
############################################
this is run 2
going to grab a character in the string
grabbed the character i located at index position 2
assigning the grabbed i to temporary varible char
i
done with this character, going back to grab the next one
############################################
this is run 3
going to grab a character in the string
grabbed the character z located at index position 3
assigning the grabbed z to temporary varible char
z
done with this character, going back to grab the next one
############################################
this is run 4
going to grab a character in the string
grabbed the character a located at index position 4
assigning the grabbed a to temporary varible char
a
done with this character, going back to grab the next one
############################################
this is run 5
going to grab a character in the string
grabbed the character b located at index position 5
assigning the grabbed b to temporary varible char
b
done with this character, going back to grab the next one
############################################
this is run 6
going to grab a character in the string
grabbed the character e located at index position 6
assigning the grabbed e to temporary varible char
e
done with this character, going back to grab the next one
############################################
this is run 7
going to grab a character in the string
grabbed the character t located at index position 7
assigning the grabbed t to temporary varible char
t
done with this character, going back to grab the next one
############################################
this is run 8
going to grab a character in the string
grabbed the character h located at index position 8
assigning the grabbed h to temporary varible char
h
done with this character, going back to grab the next one
############################################

In [ ]:
strName8 = 'Kayode Adebayo'

for char in strName8:
    if char == ' ':
        idx = strName8.index(char)
        print(f'This is located at index position {idx} and is the end of a word and the starting point of another word')

This is located at index position 6 and is the end of a word and the starting point of another word

In [ ]:
strName9 = 'Kayode Adebayo'

for char in strName9:
    idx = strName9.index(char)
    if char == 'A':
        print(f'i found an A in index position {idx}')
    if char == ' ':
        print(f'This is located at index position {idx} and is the end of a word and the starting point of another word')

This is located at index position 6 and is the end of a word and the starting point of another word
i found an A in index position 7

In [ ]:
list1 = ['Agatha', 'James', 'Gail']

for name in list1:
    print(name)
    print('sorry, Im just here, i dont know why')

    if name == 'James':
        print('found James in the list')
print('I am here now. I am outside the for loop')

Agatha
sorry, Im just here, i dont know why
James
sorry, Im just here, i dont know why
found James in the list
Gail
sorry, Im just here, i dont know why
I am here now. I am outside the for loop

In [ ]:
myAge = 35

In [ ]:
# New Class Practise for Jan 2023
# Python Containers - Tuples, Lists, Sets, and Dictionaries

'''
Scenario1:
We have 5 students named Blessing, Mogekwu, Kenile, Michael and Ejike
Their Ages; 25, 34, 21, 33, 31

'''

'\nScenario1:\nWe have 5 students named Blessing, Mogekwu, Kenile, Michael and Ejike\nTheir Ages; 25, 34, 21, 33, 31\n\n'

In [ ]:
blessingAge = 25
mogekwuAge = 34
kenileAge = 21
michaelAge = 33
ejikeAge = 31

In [ ]:
myAge

35

In [ ]:
studAges = 'Blessing_25 Mogekwu_34 Kenile_21 Michael_33 Ejike_31'

In [ ]:
blessingAge

25

In [ ]:
studAges

'Blessing_25 Mogekwu_34 Kenile_21 Michael_33 Ejike_31'

In [ ]:
studAges.split(' ')

['Blessing_25', 'Mogekwu_34', 'Kenile_21', 'Michael_33', 'Ejike_31']

In [ ]:
# Tuples

# This is a varible type that can hold multiple items inside brackets each separated by commas

# Each item inside a tuple is assigned an index position starting from zero

# using the index position of an item, we can fetch it from a tuple

Syntax for fetching items from a Tuple
tupleName[indexPositionOfItem]

In [ ]:
studAges1 = (25, 34, 21, 33, 31)

In [ ]:
studAges1

(25, 34, 21, 33, 31)

In [ ]:
studAges1[0]

25

In [ ]:
# Fetch 25 from the studAges1 tuple
studAges1[0]

25

In [ ]:
#fetch the last item from the studAges1 tuple
studAges1[-1]

31

In [ ]:
#fetch 34, 21 and 33 from the studAges1 tuple
studAges1[1:4]

(34, 21, 33)

In [ ]:
'''
Scenario1:
We have 5 students named Blessing, Mogekwu, Kenile, Michael and Ejike
Their Ages; 25, 34, 21, 33, 31

'''

# implementing with a Tuple 

studNames = ('Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike')
studAges2 = (25, 34, 21, 33, 31)

In [ ]:
studNames[4]

'Ejike'

In [ ]:
studAges2[4]

31

In [ ]:
# To combine two containers we use the zip()

for student, age in zip (studNames, studAges2):
    print(student, age)

Blessing 25
Mogekwu 34
Kenile 21
Michael 33
Ejike 31

In [ ]:
# Note that you can't add any value to a tuple after it has been created. 
# This would result in an error because tuples are immutable, 
# that is nothing can be added or removed from it after it has been created
studNames.append('Joy')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Recreating a new tuple with the same name in order to add a new entry into it,
# It destroys the former reference that holds the initial entry
studNames = ('Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'Joy')
studAges3 = (25, 34, 21, 33, 31, 40)

In [ ]:
studNames

('Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'Joy')

In [ ]:
# We can destroy a variable's reference to a specific value and point it to another value

In [ ]:
bestFriend = 'All of You'

In [ ]:
bestFriend

'All of You'

In [ ]:
bestFriend.append('Olufemi')

NameError: name 'bestFriend' is not defined

In [ ]:
bestFriend = 'Olufemi'

In [ ]:
bestFriend

'Olufemi'

In [ ]:
studNames[1]

'Mogekwu'

In [ ]:
# To combine two containers we use the zip() function

for student, age in zip(studNames, studAges3):
    print(student, age)

Blessing 25
Mogekwu 34
Kenile 21
Michael 33
Ejike 31
Joy 40

In [ ]:
bestFriend

'Olufemi'

In [ ]:
# Python Lists
# List are a type of container that is defined with square Bracket that contains items each separated by comma's

# Each item in a List is assigned an index position starting from Zero
# Lists are Mutable, which means that items can be added or removed from a list.

In [ ]:
Scenario1:
We have 5 students named Blessing, Mogekwu, Kenile, Michael and Ejike
Their Ages; 25, 34, 21, 33, 31

In [ ]:
# Implementing a Python Lists

studNamesList = ['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']
studAgesList = [25, 34, 21, 33, 31]

In [ ]:
studNamesList

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']

In [ ]:
studNamesList[2]

'Kenile'

In [ ]:
studAgesList[2]

21

In [ ]:
# Get the ages of Mogekwu, Kenile, Michael from the list studNamesList

studAgesList[1:4]

[34, 21, 33]

In [ ]:
studNamesList[1:4]

['Mogekwu', 'Kenile', 'Michael']

In [ ]:
# Adding items to a List
# Add Joy to the Student List

# use the .append() nethod to add a single item to a List

Syntax
nameofList.append(item)

In [ ]:
studNamesList.append('joy')

In [ ]:
studNamesList

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'joy']

In [ ]:
# Also add Joy's age to the students age List
studAgesList.append(26)

In [ ]:
studAgesList

[25, 34, 21, 33, 31, 26]

In [ ]:
# To combine two containers we use the zip() function

for student, age in zip(studNamesList, studAgesList):
    print(student, age)

Blessing 25
Mogekwu 34
Kenile 21
Michael 33
Ejike 31
joy 26

In [ ]:
# Scenario. You are asked to add the following students to the studentNamesList; Agatha, Jeremy and David
# Also add their ages to the studAgeList 20, 18, 24

In [ ]:
studNamesList = ['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']
studAgesList = [25, 34, 21, 33, 31]

newStuds = ['Agatha', 'Jeremy', 'David']
newStudAges = [20, 18, 24]

In [ ]:
studNamesList.append(newStuds)

In [ ]:
print(studNamesList)

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', ['Agatha', 'Jeremy', 'David']]

In [ ]:
# The right method to use when combining two lists into one is the .extend() method

In [ ]:
studNamesList = ['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']
studAgesList = [25, 34, 21, 33, 31]

newStuds = ['Agatha', 'Jeremy', 'David']
newStudAges = [20, 18, 24]

studNamesList.extend(newStuds)
print(studNamesList)

studAgesList.extend(newStudAges)
print(studAgesList)

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'Agatha', 'Jeremy', 'David']
[25, 34, 21, 33, 31, 20, 18, 24]

In [ ]:
# Removing an item from a List 

.pop()
.remove()

In [ ]:
studNamesList.pop()

['Agatha', 'Jeremy', 'David']

In [ ]:
studNamesList

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']

In [ ]:
studNamesList.remove('Ejike')

In [ ]:
studNamesList

['Blessing', 'Mogekwu', 'Kenile', 'Michael']

In [ ]:
studNamesList

NameError: name 'studNamesList' is not defined

In [ ]:
studNamesList

['Blessing',
 'Mogekwu',
 'Kenile',
 'Michael',
 'Ejike',
 'Agatha',
 'Jeremy',
 'David']

In [ ]:
x = 50
y = 100

z = x + y

print(z)

150

In [ ]:
lent = len(studNamesList)
while lent >= 0:
    print('Total number of complaining customers is; {lent}')
    student= studNamesList.pop()
    print(f'assigning customer, {student} to complaints processing')
    print(f'{student} successfully removed from complaints list')
    print('remaining customers in the complaints list is:')
    print(studNamesList)

Total number of complaining customers is; {lent}
assigning customer, David to complaints processing
David successfully removed from complaints list
remaining customers in the complaints list is:
['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'Agatha', 'Jeremy']
Total number of complaining customers is; {lent}
assigning customer, Jeremy to complaints processing
Jeremy successfully removed from complaints list
remaining customers in the complaints list is:
['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'Agatha']
Total number of complaining customers is; {lent}
assigning customer, Agatha to complaints processing
Agatha successfully removed from complaints list
remaining customers in the complaints list is:
['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']
Total number of complaining customers is; {lent}
assigning customer, Ejike to complaints processing
Ejike successfully removed from complaints list
remaining customers in the complaints list is:
['Blessing', 'Mogekwu', 'Kenile', 'Michael']
Total number of complaining customers is; {lent}
assigning customer, Michael to complaints processing
Michael successfully removed from complaints list
remaining customers in the complaints list is:
['Blessing', 'Mogekwu', 'Kenile']
Total number of complaining customers is; {lent}
assigning customer, Kenile to complaints processing
Kenile successfully removed from complaints list
remaining customers in the complaints list is:
['Blessing', 'Mogekwu']
Total number of complaining customers is; {lent}
assigning customer, Mogekwu to complaints processing
Mogekwu successfully removed from complaints list
remaining customers in the complaints list is:
['Blessing']
Total number of complaining customers is; {lent}
assigning customer, Blessing to complaints processing
Blessing successfully removed from complaints list
remaining customers in the complaints list is:
[]
Total number of complaining customers is; {lent}

IndexError: pop from empty list

In [ ]:
names = ['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']

In [ ]:
len(names)

5

In [ ]:
# You are required to insert Chinenye in index position 1  

# Use .insert(a, b)

In [ ]:
names.insert(1, 'Chinenye')

In [ ]:
names

['Blessing', 'Chinenye', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']

In [ ]:
names + newStuds

['Blessing',
 'Chinenye',
 'Mogekwu',
 'Kenile',
 'Michael',
 'Ejike',
 'Agatha',
 'Jeremy',
 'David']

In [ ]:
# To declare an empty list
myList = []

myList

[]

In [ ]:
myList.append(1)
myList.append(2)
myList.append(3)

myList

[1, 2, 3]

In [ ]:
# SETS

# Sets are python containers that hold items in an unordered format
# Sets do not allow for dupicate occurrences if any item in the container

# To create an empty sets use the following 

mySet = set()
type(mySet)

set()

In [ ]:
mySet

set()

In [ ]:
studsSet1 = ('Blessing', 'Chinenye', 'Mogekwu', 'Kenile', 'Michael', 'Ejike')

studsSet2 =  ('Blessing', 'James', 'Mogekwu', 'Kenneth', 'Michael', 'Ejike')

In [ ]:
testList = ['Blessing', 'Chinenye', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'Blessing', 'James', 'Mogekwu', 'Kenneth', 'Michael', 'Ejike' ]

In [ ]:
testList

['Blessing',
 'Chinenye',
 'Mogekwu',
 'Kenile',
 'Michael',
 'Ejike',
 'Blessing',
 'James',
 'Mogekwu',
 'Kenneth',
 'Michael',
 'Ejike']

In [ ]:
set(testList)

{'Blessing',
 'Chinenye',
 'Ejike',
 'James',
 'Kenile',
 'Kenneth',
 'Michael',
 'Mogekwu'}

In [ ]:
namesSet = set(testList)

In [ ]:
namesSet

{'Blessing',
 'Chinenye',
 'Ejike',
 'James',
 'Kenile',
 'Kenneth',
 'Michael',
 'Mogekwu'}

In [ ]:
namesSet[0]

TypeError: 'set' object is not subscriptable

In [ ]:
studsSet1 = set(['Blessing', 'Chinenye', 'Mogekwu', 'Kenile', 'Michael', 'Ejike'])

studsSet2 =  set(['Blessing', 'James', 'Mogekwu', 'Kenneth', 'Michael', 'Ejike'])

studsSet1.intersection(studsSet2)

{'Blessing', 'Ejike', 'Michael', 'Mogekwu'}

In [ ]:
studsSet1.difference(studsSet2)

{'Chinenye', 'Kenile'}

In [ ]:
studsSet2.difference(studsSet1)

{'James', 'Kenneth'}

In [ ]:
Scenario1:
We have 5 students named Blessing, Mogekwu, Kenile, Michael and Ejike
Their Ages; 25, 34, 21, 33, 31

In [ ]:
# Implementing a Python Sets
studNamesSet = set(['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike'])
studAgesSet = set([25, 34, 21, 33, 31])

In [ ]:
for names in studNamesSet:
    print(names)

Kenile
Ejike
Mogekwu
Blessing
Michael

In [ ]:
# Dictionaries 

# Dictionaries enables us store items in pairs as KEY: VALUE each pair separated by a Comma
# Keys in a dictionary MUST be unique and immutable
# Keys must not be duplicated
# Values can be identical, not a problem
SYNTAX:
    DictName = {KEY1:VALUE1, KEY2:VALUE2, KEY3:VALUE3, ...... KEYn:VALUEn,}

In [ ]:
studentsScoreDict = {'Blessing':75, 'James':81, 'Mogekwu':77, 'Kenneth':79, 'Michael':83, 'Ejike':89}

In [ ]:
# How to get items from a dictionary

In [ ]:
# Fetching all the keys in the dictionary

studentsScoreDict.keys()

dict_keys(['Blessing', 'James', 'Mogekwu', 'Kenneth', 'Michael', 'Ejike'])

In [ ]:
# Fetching all the values in the dictionary

studentsScoreDict.values()

dict_values([75, 81, 77, 79, 83, 89])

In [ ]:
# To fetch the values of a known key from a dictionary:
studentsScoreDict['James']

81

In [ ]:
studNamesList = ['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']
studAgesList = [25, 34, 21, 33, 31]

studrecDict = dict(zip(studNamesList, studAgesList))

In [ ]:
studrecDict

{'Blessing': 25, 'Mogekwu': 34, 'Kenile': 21, 'Michael': 33, 'Ejike': 31}

In [ ]:
for KEY, VALUE in studrecDict.items():
    print(KEY, VALUE)

Blessing 25
Mogekwu 34
Kenile 21
Michael 33
Ejike 31

In [ ]:
examRecDict = {'Biology':{'Blessing': 67, 'Mogekwu': 74, 'Kenile': 88,}, 
               'Physics':{'Blessing': 89, 'Mogekwu': 90, 'Kenile': 70,},
                'Math':{'Blessing': 78, 'Mogekwu': 79, 'Kenile': 84,}}

In [ ]:
examRecDict.keys()

dict_keys(['Biology', 'Physics', 'Math'])

In [ ]:
examRecDict.values()

dict_values([{'Blessing': 67, 'Mogekwu': 74, 'Kenile': 88}, {'Blessing': 89, 'Mogekwu': 90, 'Kenile': 70}, {'Blessing': 78, 'Mogekwu': 79, 'Kenile': 84}])

In [ ]:
# Extracting all the Student score by Subject
studRec = []
for subject, scoreDict in examRecDict.items(): # unpacks the subjects
    print(subject, scoreDict)
    for student, score in scoreDict.items():
        print(student, score)
        studRec.append([subject, student, score])

Biology {'Blessing': 67, 'Mogekwu': 74, 'Kenile': 88}
Blessing 67
Mogekwu 74
Kenile 88
Physics {'Blessing': 89, 'Mogekwu': 90, 'Kenile': 70}
Blessing 89
Mogekwu 90
Kenile 70
Math {'Blessing': 78, 'Mogekwu': 79, 'Kenile': 84}
Blessing 78
Mogekwu 79
Kenile 84

In [ ]:
studRec

[['Biology', 'Blessing', 67],
 ['Biology', 'Mogekwu', 74],
 ['Biology', 'Kenile', 88],
 ['Physics', 'Blessing', 89],
 ['Physics', 'Mogekwu', 90],
 ['Physics', 'Kenile', 70],
 ['Math', 'Blessing', 78],
 ['Math', 'Mogekwu', 79],
 ['Math', 'Kenile', 84]]

In [ ]:
pip install pandas

Requirement already satisfied: pandas in c:\users\larry\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\larry\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\larry\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\larry\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\larry\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: There was an error checking the latest version of pip.

In [ ]:
import pandas as pd
pd.Dataframe(studRec, columns=['subject','name','score'])

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [ ]:
myset1 = set()
type(myset1)

set

In [ ]:
myset1.add(5)
myset1.add(6)
myset1.add(7)
myset1

{5, 6, 7}

In [ ]:
mydict = dict()
mydict

{}

In [ ]:
myset2 = set()
myset2

set()

In [ ]:
myset2.add(10)
myset2.add(12)
myset2.add(17)
myset2

{10, 12, 17}

In [ ]:
# .index() # Locates the index position of the given item in a List.

list10 = ['Blessing', 'Mogekwu', 'Kenile', 'Michael',]

list10.index('Kenile')

2

In [ ]:
# .items() # enables us simultameously fetch both the key and value
mydict2 = {'Age1':40, 'Age2':30, 'Age3':35}
mydict2.items()

for age, value in mydict2.items():
    print(age, value)

Age1 40
Age2 30
Age3 35

In [ ]:
# .zip() # used to simultameously Loop through two or more containers

custList = ['Kelvin', 'Yetunde', 'Vincent', 'Mary']
acctBal = [3734278, 8777895, 973443, -8695]

for customer, balance in zip(custList, acctBal):
    print(customer, balance)

    if balance <= 0:
        print(f'{customer} account is overdrawn')

Kelvin 3734278
Yetunde 8777895
Vincent 973443
Mary -8695
Mary account is overdrawn

In [ ]:
# Python Functions

In [ ]:
# Functions are a specialized block of code that do one thing and one thing only.

# Functions can accept input parameters or can be created to not accept input.

# Functions can return results of it's execution or not return anything.


# SYNTAX
'''
def funcName():
    body of function()
    line2
    line3
    result = line3 + line4

    return result'

    '''

In [ ]:
'''
Scenario: Divine has three accounts in a Bank and the balances are 3456, 8675, 8986
Divine wants a function that can automatically give him the total balances of his accounts.

'''

In [ ]:
# Implementing a function that accepts inputs and returns a result

def acctBalAdder(balList):
    acctItems = balList
    acctSum = sum(acctItems)
    
    return acctSum

In [ ]:
myBals = [3456, 8675, 8986]
# If a functions returns a value, we must create a new variable when calling it to hold the returned value 
acctTotal =  acctBalAdder(myBals)

In [ ]:
acctTotal

21117

In [ ]:
acctTotal1 = acctBalAdder([3456, 8675, 8986])
acctTotal1

21117

In [ ]:
def acctBalAdder1(balList):
    acctItems = balList
    acctSum = sum(acctItems)
    
    print(acctSum) 

    return acctSum

In [ ]:
vals = [12, 6, 18]

res = acctBalAdder1(vals)

36

In [ ]:
print(res)

36

In [ ]:
# A function that does not accept input but returns a value

def testFunc():
    i = a**2
    return i

In [ ]:
a = 5

x = testFunc()
x

25

In [ ]:
# Functions with multiple input

# Scenario:
#Create a function that can accept peoples age, gender and returns their 
#age bracket and also specifies if they are child, teenager, adult or senior

In [ ]:
# age, gender, name
# The order in which input parameters are stated in a functions must be observed when calling the function
def ageGrouper(name, gender, age):
    category = ''

    if age <= 12:
        category = 'Child'    
    elif age <= 20:
        category = 'Teenager'
    elif age <= 60:
        category = 'Adult'
    else: 
        category = 'Senior'

    print(f'{name} is a {gender} and age is {age} and therefore an {category}')

In [ ]:
studName = 'Okereke'
studAge = 27
studGender = 'Male'
ageGrouper(studName, studGender, studAge)

Okereke is a Male and age is 27 and therefore an Adult

In [ ]:
studName = 'Divine'
studAge = 38
studGender = 'Male'
ageGrouper(studName, studGender, studAge)

Divine is a Male and age is 38 and therefore an Adult

In [ ]:
studName = 'Jerry'
studAge = 10
studGender = 'Male'
ageGrouper(studName, studGender, studAge)

Jerry is a Male and age is 10 and therefore an Child

In [ ]:
studName = 'Adefemi'
studAge = 70
studGender = 'Male'
ageGrouper(studName, studGender, studAge)

Adefemi is a Male and age is 70 and therefore an Senior

In [ ]:
# age, gender, name
# The order in which input parameters are stated in a functions must be observed when calling the function
def ageGrouper1(name, gender, age):
    category = ''

    if age <= 12:
        category = 'Child'    
    elif age <= 20:
        category = 'Teenager'
    elif age <= 60:
        category = 'Adult'
    else: 
        category = 'Senior'

    # print(f'{name} is a {gender} and age is {age} and therefore an {category}')

    return [name, gender, age, category]

In [ ]:
studName = 'Jerry'
studAge = 70
studGender = 'Male'
n, g, e, c = ageGrouper1(studName, studGender, studAge)

In [ ]:
studName = 'Jerry'
studAge = 70
studGender = 'Male'
n, g, e, c = ageGrouper1(studName, studGender, studAge)

_, _, _, c

(((('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   'Senior'),
  (('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   'Senior'),
  (('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   'Senior'),
  'Senior'),
 ((('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   'Senior'),
  (('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   'Senior'),
  (('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   'Senior'),
  'Senior'),
 ((('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   'Senior'),
  (('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   'Senior'),
  (('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   ('Jerry', 'Male', 70, 'Senior'),
   'Senior'),
  'Senior'),
 'Senior')

In [ ]:
cate = c
print(c)

Senior

In [ ]:
# age, gender, name
# The order in which input parameters are stated in a functions must be observed when calling the function
def ageGrouper2(name, gender, age):
    category = ''

    if age <= 12:
        category = 'Child'    
    elif age <= 20:
        category = 'Teenager'
    elif age <= 60:
        category = 'Adult'
    else: 
        category = 'Senior'

    # print(f'{name} is a {gender} and age is {age} and therefore an {category}')

    print ([name, gender, age, category])

In [ ]:
name = 'Felicia'
age = 44
gender = 'Female' 


ageGrouper2(name, gender, age)

['Felicia', 'Female', 44, 'Adult']

In [ ]:
# Your Friend Agatha has asked you to design a calculator that will enable her 
# ompute the sales in her store. Using Python functions, containers and variables
# create a functional calculator. (Mini Project)

In [ ]:
# Design Criteria

# During the use, Agatha will call the calculator and pass, product name, quantity and unit price
# Output from calculator should be total cost of the products.

In [ ]:
#  Sales computing module

def salesCalc(prdt, qty, price, disct):
    up  = price
    totalCost = up * qty
    if disct > 0:
        totalCost = totalCost*(1-disct)
    print(f'total cost of {qty} of {prdt} is {totalCost}')


########################## input values #####################

product = input('specify product')
qty = input('specify quantity for {product}')
price = input('specify unit price for {product}')
discount = input('specify available discount. If no discount input 0')

qty = float(qty)
price = float(price)
discount = float(discount)

salesCalc(product, qty, price, discount)

total cost of 5.0 of Milk is 7.5

In [ ]:
product

'Bread'

In [ ]:
qty

'5'

In [ ]:
price

'1.5'

In [ ]:
discount

'0'

'Milk'

In [ ]:
import pandas as pd
salesRec = [] # custname, product, price, qty, discount, totalcost, date

:

In [ ]:
from time import gmtime, strftime

#  Sales computing module
def getTime():
    
    tNow = strftime("%Y-%m-%d %H:%M:%S", gmtime())
    return tNow

def salesCalc(name, prdt, qty, price, disct):
    up  = price
    totalCost = up * qty
    if disct > 0:
        totalCost = totalCost*(1-disct)
    print(f'total cost of {qty} of {prdt} is {totalCost}')
    salesTime = getTime()
    salesRec.append([name, prdt, price, qty, disct, totalCost, salesTime])

    return pd.DataFrame(salesRec, columns= ['custname', 'product', 'price',
                                            'qty', 'discount', 'totalcost', 'date'])

########################## input values #####################
custName = input('   enter customer name')
product = input('specify product')
qty = input('specify quantity for {product}')
price = input('specify unit price for {product}')
discount = input('specify available discount. If no discount input 0')

qty = float(qty)
price = float(price)
discount = float(discount)

In [ ]:
salesTable = salesCalc(custName, product, qty, price, discount)

In [ ]:
salesTable

In [ ]:
t = getTime()
st = str(t)

In [ ]:
st

st = "-".join(st.split(':'))

In [ ]:
# salesTable.to_csv(f'C:/Users/Larry/Desktop/OneCampus Stuffs/Python/onecampus/Agatha_Sales_Rec_{getTime()}.csv') - Not working cos of the special characters within the getTime()

salesTable.to_csv(f'C:/Users/Larry/Desktop/OneCampus Stuffs/Python/onecampus/Agatha_Sales_Rec_{st}.csv') # Working code fixed

In [ ]:
# Conditional Statements
# Loops 
# Python Modules

In [ ]:
# Conditional Statements are codelines that evaluate a known condition to determine if it is True or False
# If the condition evaluates to True, the first line of code in the statement is executed.
# If the  condition evaluates to False, the first line or block does not execute.

In [ ]:
# Syntax
'''
if CONDITIONAL_STATEMENT:  # This is called the statement line
    Line1 to execute if statement is true
    Line2 to execute if statement is true
    Line3 to execute if statement is true


OPERATORS FOR CONDITIONAL STATEMENTS

==  same thing as 
!=  not equal to
>   greater than
>=  greater than or equal to 
<   less than
<=  less than or equal to 
not in 
in

'''

In [ ]:
# Lets create a conditional statement to evaluate if an individual is am adult or a minor based on their age.

jerryAge = 23
divineAge = 2

customerAge = 2

adultAge = 18

if customerAge >= adultAge:
    print('this customer is an Adult')
    ageOverMin = customerAge - adultAge
    print(f'this age of this customer is {ageOverMin} years over the minimum')

In [ ]:
age1 = 5
age2 = 10

age1 >= age2

In [ ]:
age1 = 5
age2 = 10

age1 <= age2

In [ ]:
age1 = 5
age2 = 10

age1 == age2

In [ ]:
age1 = 5
age2 = 10

age1 != age2

In [ ]:
if customerAge >= adultAge:
    print('this customer is an Adult')
    ageOverMin = customerAge - adultAge
    print(f'this age of this customer is {ageOverMin} years over the minimum')
else:
    print('this customer is an Adult')
    ageOverMin = adultAge - customerAge  
    print(f'this age of this customer is {ageOverMin} years below the minimum')

In [ ]:
# Lets create a conditional statement to evaluate if an individual is an individual ought to be in Kindergarten, Elementary School, 
# High School or college.

candidateAge = ''

kindergartenMinAge = 2
elementaryMinAge = 5
highSchMinAge = 10
collegeMinAge = 16

if candidateAge >= 16:
    print('candidate belongs to College')
elif candidateAge >=10:
    print('candidate belongs to High School')
elif candidateAge >=5:
    print('candidate belongs to Elementary School')
elif candidateAge >=2:
    print('candidate belongs to kindergarten School')
else:
    print('candidate belongs to Daycare')

In [ ]:
# Converting the conditional statement script to a function

def schoolCat(name, age):
    candidateAge = age

    kindergartenMinAge = 2
    elementaryMinAge = 5
    highSchMinAge = 10
    collegeMinAge = 16

    if candidateAge >= 16:
        print(f'{name} belongs to College')
    elif candidateAge >=10:
        print(f'{name}  belongs to High School')
    elif candidateAge >=5:
        print(f'{name}  belongs to Elementary School')
    elif candidateAge >=2:
        print(f'{name}  belongs to kindergarten School')
    else:
        print(f'{name}  belongs to Daycare')

In [ ]:
# Calling the function by passing the name and age as input
schoolCat('Jigiri', 23)

In [ ]:
# Implementing For Loops (It allows us to automate repetitive tasks)

In [ ]:
studList = ['Frank', 'Claret', 'Iniobong', 'Silas', 'Joseph']
studAgeList = [2, 5, 8, 15, 23]

In [ ]:
''' A For LOOP enables us to step through the items in a container or a string fetching one item at a time 
   sequentially from idex position zero

    For Loops start with the FOR key word
    It requires us to create a temporary variable that hold the items that the For Loops fetches from the container.

# Syntax
  for items in CONTAINER:
      do something

'''

In [ ]:
# Looping through the names of the student only
studList = ['Frank', 'Claret', 'Iniobong', 'Silas', 'Joseph']
for name in studList:
    print(name)
    
#  OR

studList = ['Frank', 'Claret', 'Iniobong', 'Silas', 'Joseph']
for val in studList:
    print(val)

studAgeList = [2, 5, 8, 15, 23]
for age in studAgeList:
    print(age)

In [ ]:
# Automating the student school category with the For Loop

studList = ['Frank', 'Claret', 'Iniobong', 'Silas', 'Joseph']
studAgeList = [2, 5, 8, 15, 23]

for student, studentAge in zip(studList, studAgeList):
    schoolCat(student, studentAge)

In [ ]:
studListLen = len(studList) 
counter = 0
while counter < studListLen:
    schoolCat(studList[counter], studAgeList[counter])
    studListLen
    print(counter)
    counter+=1

In [ ]:
# Python Modules

# These are compact library that can be distributed and inported to gain access to their code implementations

In [ ]:
# Converting the conditional statement script to a function
# NB the first line under the name of a function is a reserved space for the description (what that function does)


def schoolEval(name, age):

    ''''
Description:
This function accepts the name and age of a student and evaluates what educational level they belong to

Inputs: string, Name and int Age

Outputs: string, educational level

return value [name, educational level
]
''''


    candidateAge = age

    kindergartenMinAge = 2
    elementaryMinAge = 5
    highSchMinAge = 10
    collegeMinAge = 16

    if candidateAge >= 16:
        return [name 'College']
    elif candidateAge >=10:
        return [name 'High School']
    elif candidateAge >=5:
        return [name 'Elementary School']
    elif candidateAge >=2:
        return [name 'Kindergarten']
    else:
        return [name 'Daycare']

In [ ]:
stdName, school = schoolEval('vincent', 13)

In [ ]:
stdName

In [ ]:
school

In [ ]:
help(schoolEval)

In [ ]:
dir(schoolEval)

In [ ]:
'''def moneyCounter(amt):
    ##############################   - Reserved space for describing what the function is for and what it's doing
    print('this is a dummy function')
'''


'''def moneyCounter(amt):
    ''  
    This function is a dummy. Please do not use             - Reserved space for describing what the function is for and what it's doing
    '''
    print('this is a dummy function')
'''

In [ ]:
# Converting the conditional statement script function to a .py module

In [ ]:

%%writefile demoScript.py

def schoolEval(name, age):

    ''''
Description:
This function accepts the name and age of a student and evaluates what educational level they belong to

Inputs: string, Name and int Age

Outputs: string, educational level

return value [name, educational level
]
''''


    candidateAge = age

    kindergartenMinAge = 2
    elementaryMinAge = 5
    highSchMinAge = 10
    collegeMinAge = 16

    if candidateAge >= 16:
        return [name 'College']
    elif candidateAge >=10:
        return [name 'High School']
    elif candidateAge >=5:
        return [name 'Elementary School']
    elif candidateAge >=2:
        return [name 'Kindergarten']
    else:
        return [name 'Daycare']



def wealthCalc(sal, age, retAge):
    '''
    This function accepts your projected monthly 
    savings and your life expectance and compute 
    your total retirement wealth

    '''
    workspan = retAge - age
    income = sal*12*workspan

    return income

In [ ]:
# NB After writing to file, it is saved within the same folder where the jupyter notebook is saved.

# You can then import it into another jupyter notebook with the code stated below

import demoScript as ds

ds.schoolEval('Racheal', 23)

In [ ]:
dir(ds)

In [ ]:
x = ds.wealthCalc(500, 20, 65)

In [ ]:
X

In [ ]:
from demoScript import wealthCalc

In [ ]:
help(wealthCalc)

In [ ]:
dir(wealthCalc)

In [ ]:
'''
# Practice Execise: James teaches Math, Chemistry and Biology in St. Jeromes High School.
At the end of the term the following were the results of his
students;

Chemistry Students: Agatha, Terry, Bill, Vincent, Auwal, Tayo, Veronica, Chinenye and Madu.
There scores are 55,67,76,58,97,56,45,76,87
Math Students: Agatha, Terry, Bill, David, Caleb, Mahmud, Veronica, Kwasik, Nanteng, Chinenye and Madu
There scores are 67,87,54,59,92,52,78,76,87, 74,88
Biology Students: Bilkisu, Conrad, Bill, David, Kelvin, Mahmud, Veronica, Kwasik, Bwatamge, Chinenye,
There scores are 61,78,44,99,60,52,58,76,73, 74, 88, 97

Task: 
1. Implement code to determine which students take ALL the three subjects
2. Implement code to determine which students take Biology BUT NOT Chemistry
3. Implement code to determine which students take chem and math BUT NOT Biology
4. Implement code to store the student names, subjects and scores in a python List
5. Implement code to determine howmany unque students are in ALL of James classes
6. implement code to store all the student names, subjects and scores in a dictionary
7. Implement code to determine which students Passed or failed the exams.
Assume that a failing grade is any score below 60 and a passing grade is any score 60and above
CHALLENGE
QUESTION: Implement code to present all student results on a single table with the
following columns: SUBJECT | STUDENT NAME | SCORE |PASS/FAIL

'''

In [ ]:
chemStuds = ['Agatha', 'Terry', 'Bill', 'Vincent', 'Auwal', 'Tayo', 'Veronica', 'Chinenye' , 'Madu']
chemScores = [55,67,76,58,97,56,45,76,87]

mathStuds = ['Agatha', 'Terry', 'Bill', 'David', 'Caleb', 'Mahmud', 'Veronica',
'Kwasik', 'Nanteng', 'Chinenye' , 'Madu']
mathScores = [67,87,54,59,92,52,78,76,87, 74,88]

bioStuds = ['Bilkisu', 'Conrad', 'Bill', 'David', 'Kelvin', 'Mahmud', 'Veronica', 'Kwasik',
'Bwatamge', 'Chinenye', 'Cosmas' , 'Moses']
bioScores = [61,78,44,99,60,52,58,76,73, 74, 88, 97]

In [ ]:
# 1. Implement code to determine which students take ALL the three subjects

#Implementing using Sets
#Uinions
#Intersections
#Difference
set(chemStuds).intersection(set(mathStuds))

In [ ]:
commonStuds = set(chemStuds).intersection(set(mathStuds))

In [ ]:
commonStuds.intersection(set(bioStuds))

In [ ]:
(set(chemStuds).intersection(set(mathStuds))).intersection(set(bioStuds))

In [ ]:
# Implementing using For Loops

fullStudsList = [chemStuds, mathStuds, bioStuds]

tempList = []
for lst in fullStudsList:
    print(lst)
    for name in lst:
        print('now fetching each item in the the list')
        if name in chemStuds and name in mathStuds and name in bioStuds:
            if name not in tempList:
                tempList.append(name)
                print(f'this is teh content of tempList {tempList}')
                print('done with this list, going for to fetch the next list')

In [ ]:
fullStudsList