In [2]:
studName = 'Ngozi Idehen'

In [3]:
studName

'Ngozi Idehen'

In [5]:
for char in studName:
    idx = studName.index(char)
    print(f'the character {char} is in index position {idx}')

the character N is in index position 0
the character g is in index position 1
the character o is in index position 2
the character z is in index position 3
the character i is in index position 4
the character   is in index position 5
the character I is in index position 6
the character d is in index position 7
the character e is in index position 8
the character h is in index position 9
the character e is in index position 8
the character n is in index position 11

In [8]:
#Slicing a sub-string from a string
'''
we need the name of the string variable followed by square bracket
Inside the square bracket we put the index number of the first character and the last character plus 1

'''
print(studName[0:5])

Ngozi

In [9]:
studRef = '012468743_James_Doe'

In [13]:
print(studRef[0:9])

012468743

In [15]:
print(studRef[10:15])

James

In [16]:
countryName = 'Zambia'

In [17]:
text1 = 'I love my car so much, its the best car in towm!'

In [18]:
for char in text1:
    idx = text1.index(char)
    print(f'the character {char} is in index position {idx}')

the character I is in index position 0
the character   is in index position 1
the character l is in index position 2
the character o is in index position 3
the character v is in index position 4
the character e is in index position 5
the character   is in index position 1
the character m is in index position 7
the character y is in index position 8
the character   is in index position 1
the character c is in index position 10
the character a is in index position 11
the character r is in index position 12
the character   is in index position 1
the character s is in index position 14
the character o is in index position 3
the character   is in index position 1
the character m is in index position 7
the character u is in index position 18
the character c is in index position 10
the character h is in index position 20
the character , is in index position 21
the character   is in index position 1
the character i is in index position 23
the character t is in index position 24
the character s is in index position 14
the character   is in index position 1
the character t is in index position 24
the character h is in index position 20
the character e is in index position 5
the character   is in index position 1
the character b is in index position 31
the character e is in index position 5
the character s is in index position 14
the character t is in index position 24
the character   is in index position 1
the character c is in index position 10
the character a is in index position 11
the character r is in index position 12
the character   is in index position 1
the character i is in index position 23
the character n is in index position 41
the character   is in index position 1
the character t is in index position 24
the character o is in index position 3
the character w is in index position 45
the character m is in index position 7
the character ! is in index position 47

In [19]:
name = 'Adeyinka'

In [20]:
print(name[3])

y

In [21]:
name[3]

'y'

In [23]:
name[5]

'n'

In [24]:
name[7]

'a'

In [25]:
name.index('k')

6

In [ ]:
text1.index('car')

In [37]:
# Detecting Vulgar Words
vWords = ['stupid', 'mad', 'crazy', 'fool', 'nigga', 'senile']

In [36]:
message = '''
is simply dummy text of the printing and mad typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1950's
when an unknown printer crazy took a gallery of type and scrambled it to make a type specimen book.
It has survived not only five centuries, but also the leap into the electronic typesetting,
remaining nigga essentially unchanged. It was fool popularised in the 1960's with the senile release of Letraset sheets containing
Lorem Ipsum passages, and more recently with desktop publishing software like Aldus Pagemaker including versions
of Lorem Ipsum.
'''

In [30]:
# we can check the length of any string using the len() function
len(message)

598

In [47]:
for vWord in vWords:
    if vWord in message:
        idx = message.index(vWord)
        print(f'{vWord} is found in index position {idx} ')

mad is found in index position 42
crazy is found in index position 170
fool is found in index position 384
nigga is found in index position 348
senile is found in index position 424

In [48]:
strName = 'Chukwu'

In [49]:
strName.index('u')

2

In [51]:
# searching for character u index position in the strName variable called chukwu
counter = 0
searchChar = 'u'
for char in strName:
    if char == 'u':
        print(f'{searchChar} found in index position {counter}')
    counter = counter +1

u found in index position 2
u found in index position 5

In [53]:
# Reverse indexing in strings
# It is possible to index strings starting from the last character
# The last character is always at index position -1

strname2 = 'William Adeniran'

In [55]:
strname2[len(strname2)-1]

'n'

In [56]:
len(strname2)-1

15

In [57]:
strname2[-1]

'n'

In [58]:
strname2[-2]

'a'

In [60]:
# Every character in a string has a forward and a reverse index position
print(strname2[-2])
print(strname2[14])

a
a

In [64]:
strname2 = 'William Adeniran'

# extract 'Adeniran'

strname2[-8: ]

'Adeniran'

In [65]:
'''
If you are extracting a substring that begins with the first character in the string,
you do not need to specify the starting index position
'''

name3 = 'Olalere Omidire'
# extract Olalere

print(name3[:7])

Olalere

In [66]:
'''
If you are extracting a substring that ends with the last character in the string,
you do not need to specify the ending index position
'''

name3 = 'Olalere Omidire'
# extract Omidire

print(name3[8:])

Omidire

In [67]:
message = '''
is simply dummy text of the printing and mad typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1950's
when an unknown printer crazy took a gallery of type and scrambled it to make a type specimen book.
It has survived not only five centuries, but also the leap into the electronic typesetting,
remaining nigga essentially unchanged. It was fool popularised in the 1960's with the senile release of Letraset sheets containing
Lorem Ipsum passages, and more recently with desktop publishing software like Aldus Pagemaker including versions
of Lorem Ipsum.
'''

len(message)

598

In [68]:
myMessage = 'Hello, welcome to my city. You will love it here'

In [70]:
myMessage.split()

['Hello,', 'welcome', 'to', 'my', 'city.', 'You', 'will', 'love', 'it', 'here']

In [72]:
print(len(myMessage.split()))

10

In [77]:
# number of words in message, and then it's assigned to a varible called countWords

countWords = message.split()

In [75]:
countWords

['is',
 'simply',
 'dummy',
 'text',
 'of',
 'the',
 'printing',
 'and',
 'mad',
 'typesetting',
 'industry.',
 'Lorem',
 'Ipsum',
 'has',
 'been',
 'the',
 "industry's",
 'standard',
 'dummy',
 'text',
 'ever',
 'since',
 'the',
 "1950's",
 'when',
 'an',
 'unknown',
 'printer',
 'crazy',
 'took',
 'a',
 'gallery',
 'of',
 'type',
 'and',
 'scrambled',
 'it',
 'to',
 'make',
 'a',
 'type',
 'specimen',
 'book.',
 'It',
 'has',
 'survived',
 'not',
 'only',
 'five',
 'centuries,',
 'but',
 'also',
 'the',
 'leap',
 'into',
 'the',
 'electronic',
 'typesetting,',
 'remaining',
 'nigga',
 'essentially',
 'unchanged.',
 'It',
 'was',
 'fool',
 'popularised',
 'in',
 'the',
 "1960's",
 'with',
 'the',
 'senile',
 'release',
 'of',
 'Letraset',
 'sheets',
 'containing',
 'Lorem',
 'Ipsum',
 'passages,',
 'and',
 'more',
 'recently',
 'with',
 'desktop',
 'publishing',
 'software',
 'like',
 'Aldus',
 'Pagemaker',
 'including',
 'versions',
 'of',
 'Lorem',
 'Ipsum.']

In [78]:
len(countWords)

95

In [81]:
studName6 = 'Oladimeji_Alabi_Savings Account_053023452'
studName6.split('_')

['Oladimeji', 'Alabi', 'Saving Account', '053023452']

In [82]:
studNameSplit = studName6.split('_')

In [83]:
studNameSplit

['Oladimeji', 'Alabi', 'Saving Account', '053023452']

In [ ]:
# multiple assignments of variables
# python allows us to declare multiple varibles and assign them all values in a single line

In [84]:
x, y, z = 34, 'james', 'agatha'

In [85]:
z

'agatha'

In [86]:
y

'james'

In [87]:
x

34

In [88]:
y

'james'

In [ ]:
# splitting strings by a common operator

In [89]:
studName6 = 'Oladimeji_Alabi_Savings Account_053023452' # common separator is '_'
studName6.split('_') # we split by '_ to get the individual words or items in the string'

['Oladimeji', 'Alabi', 'Savings Account', '053023452']

In [90]:
firstName, lastName, accountType, accountNumber = studName6.split('_')

In [91]:
firstName

'Oladimeji'

In [92]:
lastName

'Alabi'

In [93]:
accountType

'Savings Account'

In [94]:
accountNumber

'053023452'

In [ ]:
# For Loops and If Statements

In [ ]:
# SYNTAX
for tempVarible in variableName:
    do something here

In [95]:
strName7 = 'Elizabeth'

for char in strName7:
    print(char)

E
l
i
z
a
b
e
t
h

In [97]:
strName7 = 'Elizabeth'
counter = 0
for char in strName7:
    print(f'this is run {counter}')
    print('going to grab a character in the string')
    print(f'grabbed the character {char} located at index position {counter}')
    print(f'assigning the grabbed {char} to temporary varible char')
    print(char)
    print('done with this character, going back to grab the next one')

    print('############################################')

    counter+=1

this is run 0
going to grab a character in the string
grabbed the character E located at index position 0
assigning the grabbed {char} to temporary varible char
E
done with this character, going back to grab the next one
############################################
this is run 1
going to grab a character in the string
grabbed the character l located at index position 1
assigning the grabbed {char} to temporary varible char
l
done with this character, going back to grab the next one
############################################
this is run 2
going to grab a character in the string
grabbed the character i located at index position 2
assigning the grabbed {char} to temporary varible char
i
done with this character, going back to grab the next one
############################################
this is run 3
going to grab a character in the string
grabbed the character z located at index position 3
assigning the grabbed {char} to temporary varible char
z
done with this character, going back to grab the next one
############################################
this is run 4
going to grab a character in the string
grabbed the character a located at index position 4
assigning the grabbed {char} to temporary varible char
a
done with this character, going back to grab the next one
############################################
this is run 5
going to grab a character in the string
grabbed the character b located at index position 5
assigning the grabbed {char} to temporary varible char
b
done with this character, going back to grab the next one
############################################
this is run 6
going to grab a character in the string
grabbed the character e located at index position 6
assigning the grabbed {char} to temporary varible char
e
done with this character, going back to grab the next one
############################################
this is run 7
going to grab a character in the string
grabbed the character t located at index position 7
assigning the grabbed {char} to temporary varible char
t
done with this character, going back to grab the next one
############################################
this is run 8
going to grab a character in the string
grabbed the character h located at index position 8
assigning the grabbed {char} to temporary varible char
h
done with this character, going back to grab the next one
############################################

In [98]:
strName7 = 'Elizabeth'

for char in strName7:
    idx = strName7.index(char)
    print(f'this is run {idx}')
    print('going to grab a character in the string')
    print(f'grabbed the character {char} located at index position {idx}')
    print(f'assigning the grabbed {char} to temporary varible char')
    print(char)
    print('done with this character, going back to grab the next one')

    print('############################################')

this is run 0
going to grab a character in the string
grabbed the character E located at index position 0
assigning the grabbed E to temporary varible char
E
done with this character, going back to grab the next one
############################################
this is run 1
going to grab a character in the string
grabbed the character l located at index position 1
assigning the grabbed l to temporary varible char
l
done with this character, going back to grab the next one
############################################
this is run 2
going to grab a character in the string
grabbed the character i located at index position 2
assigning the grabbed i to temporary varible char
i
done with this character, going back to grab the next one
############################################
this is run 3
going to grab a character in the string
grabbed the character z located at index position 3
assigning the grabbed z to temporary varible char
z
done with this character, going back to grab the next one
############################################
this is run 4
going to grab a character in the string
grabbed the character a located at index position 4
assigning the grabbed a to temporary varible char
a
done with this character, going back to grab the next one
############################################
this is run 5
going to grab a character in the string
grabbed the character b located at index position 5
assigning the grabbed b to temporary varible char
b
done with this character, going back to grab the next one
############################################
this is run 6
going to grab a character in the string
grabbed the character e located at index position 6
assigning the grabbed e to temporary varible char
e
done with this character, going back to grab the next one
############################################
this is run 7
going to grab a character in the string
grabbed the character t located at index position 7
assigning the grabbed t to temporary varible char
t
done with this character, going back to grab the next one
############################################
this is run 8
going to grab a character in the string
grabbed the character h located at index position 8
assigning the grabbed h to temporary varible char
h
done with this character, going back to grab the next one
############################################

In [104]:
strName8 = 'Kayode Adebayo'

for char in strName8:
    if char == ' ':
        idx = strName8.index(char)
        print(f'This is located at index position {idx} and is the end of a word and the starting point of another word')

This is located at index position 6 and is the end of a word and the starting point of another word

In [105]:
strName9 = 'Kayode Adebayo'

for char in strName9:
    idx = strName9.index(char)
    if char == 'A':
        print(f'i found an A in index position {idx}')
    if char == ' ':
        print(f'This is located at index position {idx} and is the end of a word and the starting point of another word')

This is located at index position 6 and is the end of a word and the starting point of another word
i found an A in index position 7

In [110]:
list1 = ['Agatha', 'James', 'Gail']

for name in list1:
    print(name)
    print('sorry, Im just here, i dont know why')

    if name == 'James':
        print('found James in the list')
print('I am here now. I am outside the for loop')

Agatha
sorry, Im just here, i dont know why
James
sorry, Im just here, i dont know why
found James in the list
Gail
sorry, Im just here, i dont know why
I am here now. I am outside the for loop

In [4]:
myAge = 35

In [7]:
# New Class Practise for Jan 2023
# Python Containers - Tuples, Lists, Sets, and Dictionaries

'''
Scenario1:
We have 5 students named Blessing, Mogekwu, Kenile, Michael and Ejike
Their Ages; 25, 34, 21, 33, 31

'''

'\nScenario1:\nWe have 5 students named Blessing, Mogekwu, Kenile, Michael and Ejike\nTheir Ages; 25, 34, 21, 33, 31\n\n'

In [6]:
blessingAge = 25
mogekwuAge = 34
kenileAge = 21
michaelAge = 33
ejikeAge = 31

In [5]:
myAge

35

In [9]:
studAges = 'Blessing_25 Mogekwu_34 Kenile_21 Michael_33 Ejike_31'

In [10]:
blessingAge

25

In [11]:
studAges

'Blessing_25 Mogekwu_34 Kenile_21 Michael_33 Ejike_31'

In [12]:
studAges.split(' ')

['Blessing_25', 'Mogekwu_34', 'Kenile_21', 'Michael_33', 'Ejike_31']

In [ ]:
# Tuples

# This is a varible type that can hold multiple items inside brackets each separated by commas

# Each item inside a tuple is assigned an index position starting from zero

# using the index position of an item, we can fetch it from a tuple

Syntax for fetching items from a Tuple
tupleName[indexPositionOfItem]

In [3]:
studAges1 = (25, 34, 21, 33, 31)

In [4]:
studAges1

(25, 34, 21, 33, 31)

In [5]:
studAges1[0]

25

In [18]:
# Fetch 25 from the studAges1 tuple
studAges1[0]

25

In [6]:
#fetch the last item from the studAges1 tuple
studAges1[-1]

31

In [8]:
#fetch 34, 21 and 33 from the studAges1 tuple
studAges1[1:4]

(34, 21, 33)

In [9]:
'''
Scenario1:
We have 5 students named Blessing, Mogekwu, Kenile, Michael and Ejike
Their Ages; 25, 34, 21, 33, 31

'''

# implementing with a Tuple 

studNames = ('Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike')
studAges2 = (25, 34, 21, 33, 31)

In [10]:
studNames[4]

'Ejike'

In [12]:
studAges2[4]

31

In [15]:
# To combine two containers we use the zip()

for student, age in zip (studNames, studAges2):
    print(student, age)

Blessing 25
Mogekwu 34
Kenile 21
Michael 33
Ejike 31

In [16]:
# Note that you can't add any value to a tuple after it has been created. 
# This would result in an error because tuples are immutable, 
# that is nothing can be added or removed from it after it has been created
studNames.append('Joy')

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
# Recreating a new tuple with the same name in order to add a new entry into it,
# It destroys the former reference that holds the initial entry
studNames = ('Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'Joy')
studAges3 = (25, 34, 21, 33, 31, 40)

In [19]:
studNames

('Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'Joy')

In [ ]:
# We can destroy a variable's reference to a specific value and point it to another value

In [46]:
bestFriend = 'All of You'

In [47]:
bestFriend

'All of You'

In [20]:
bestFriend.append('Olufemi')

NameError: name 'bestFriend' is not defined

In [21]:
bestFriend = 'Olufemi'

In [22]:
bestFriend

'Olufemi'

In [23]:
studNames[1]

'Mogekwu'

In [24]:
# To combine two containers we use the zip() function

for student, age in zip(studNames, studAges3):
    print(student, age)

Blessing 25
Mogekwu 34
Kenile 21
Michael 33
Ejike 31
Joy 40

In [50]:
bestFriend

'Olufemi'

In [ ]:
# Python Lists
# List are a type of container that is defined with square Bracket that contains items each separated by comma's

# Each item in a List is assigned an index position starting from Zero
# Lists are Mutable, which means that items can be added or removed from a list.

In [ ]:
Scenario1:
We have 5 students named Blessing, Mogekwu, Kenile, Michael and Ejike
Their Ages; 25, 34, 21, 33, 31

In [26]:
# Implementing a Python Lists

studNamesList = ['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']
studAgesList = [25, 34, 21, 33, 31]

In [27]:
studNamesList

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']

In [28]:
studNamesList[2]

'Kenile'

In [29]:
studAgesList[2]

21

In [70]:
# Get the ages of Mogekwu, Kenile, Michael from the list studNamesList

studAgesList[1:4]

[34, 21, 33]

In [30]:
studNamesList[1:4]

['Mogekwu', 'Kenile', 'Michael']

In [ ]:
# Adding items to a List
# Add Joy to the Student List

# use the .append() nethod to add a single item to a List

Syntax
nameofList.append(item)

In [31]:
studNamesList.append('joy')

In [33]:
studNamesList

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'joy']

In [34]:
# Also add Joy's age to the students age List
studAgesList.append(26)

In [74]:
studAgesList

[25, 34, 21, 33, 31, 26]

In [75]:
# To combine two containers we use the zip() function

for student, age in zip(studNamesList, studAgesList):
    print(student, age)

Blessing 25
Mogekwu 34
Kenile 21
Michael 33
Ejike 31
joy 26

In [ ]:
# Scenario. You are asked to add the following students to the studentNamesList; Agatha, Jeremy and David
# Also add their ages to the studAgeList 20, 18, 24

In [36]:
studNamesList = ['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']
studAgesList = [25, 34, 21, 33, 31]

newStuds = ['Agatha', 'Jeremy', 'David']
newStudAges = [20, 18, 24]

In [37]:
studNamesList.append(newStuds)

In [38]:
print(studNamesList)

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', ['Agatha', 'Jeremy', 'David']]

In [ ]:
# The right method to use when combining two lists into one is the .extend() method

In [35]:
studNamesList = ['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']
studAgesList = [25, 34, 21, 33, 31]

newStuds = ['Agatha', 'Jeremy', 'David']
newStudAges = [20, 18, 24]

studNamesList.extend(newStuds)
print(studNamesList)

studAgesList.extend(newStudAges)
print(studAgesList)

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike', 'Agatha', 'Jeremy', 'David']
[25, 34, 21, 33, 31, 20, 18, 24]

In [ ]:
# Removing an item from a List 

.pop()
.remove()

In [39]:
studNamesList.pop()

['Agatha', 'Jeremy', 'David']

In [40]:
studNamesList

['Blessing', 'Mogekwu', 'Kenile', 'Michael', 'Ejike']

In [41]:
studNamesList.remove('Ejike')

In [42]:
studNamesList

['Blessing', 'Mogekwu', 'Kenile', 'Michael']